.container__footer {
    background: #26353B;
    width: 1000px;
    height: 92px;
}

.footer__element{
 
    height: 92px;
    width: 1000px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}
.cookies__privacy{
    width: 170px;
   display: flex;
    align-self:center;
}

.email {
 
    width: 120px;
    align-self:center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}


.logo__footer {
 
    width: 630px;
    height: 26px;
   
}

.privacy {
  width: 85px;
    height: 14px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.cookies {

    height: 14px;
  
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}