@media only screen and (min-width:1280px) {
    .first__section__button__conteiner {
        position: relative;
        background: #FFFFFF;
        outline: 10px;
        width: 90px;
        height: 34px;
        left: -620px;
        top: -363px;
        cursor: pointer;
        border-radius: 4px;
        order: 2;
        align-self: center;
        flex-grow: 0;
        margin: 0px 719px;
        opacity: 0.8;
    }
    
    .intro {
        position: relative;
        border-radius: 4px;
        width: 400px;
        height: 275px;
        left: 100px;
        top: 68px;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    
    .intro__text__second {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 15.85px;
        line-height: 26px;
        color: #646D70;
    }
    
    .oval__container {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 60px;
        justify-content: space-between;
        left: 145px;
        top: 365px;
    }
    
    .intro__text__first {
        position: relative;
        height: 38px;
        left: 0%;
        right: 32%;
        top: -2px;
        font-family: Merriweather;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 38px;
        color: #222F33;
    }
    
   
    
    .oval__opacity {
        opacity: 0.6;
    }
    .first__section__button__text {
        border: 0px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #606B74;
    }
    
}